.Container{
    display: block;
    padding-left: 50px;
    padding-top: 0px;
    padding-right: 0px;
    width: 100%; height: 100%;
    background-color: rgb(230, 227, 227);
}
.Header{
    display: grid;
    width: 100%; height: 250px;
    /* margin-left: 0px; margin-right: 0px; */
    background-color: rgb(38, 72, 104)
}
#banner{
    display: flex;
    margin-top: 10px; margin-left: 10px;
    color: white;
    margin-left: 20; margin-top: 10;
}
#Tool {
    display: flex;
    grid-template-columns: repeat(12,1fr); 
    list-style-type: none; 
    background-color: black; color: aliceblue;
    font-size: larger; 
    font-style: normal; font-weight: 600; text-align: center; 
}

.Contents{
    display: inline-flex; 
}
.left{
    margin:0; padding: 0;
    /* overflow: hidden;  */
    border-right: 1px solid;
    border-left: 1px solid;
    height: auto; width: 230px;
}
.category{
    border-bottom: 1px solid;
}
.menu1{
    margin: 0; padding: 0;
    border-bottom: 1px solid ;
}
li { display: flex;
    /* list-style-type: none; */
    
    font-size: 22px;
}
li a, .dropbtn{
    display: inline-block;
    color:rgb(61, 70, 207); text-align:center ; 
    padding: 10px 16px;
    /* padding-left:100px; */
    text-decoration: none;
}
li a:hover, .dropright:hover, .menu1:hover {
    background-color: rgb(234, 247, 190); 
    color: rgb(10, 10, 70); 
}
li.dropright{ 
    display: flex;}
.dropright-content{
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 8px rgb(136, 136, 136);
    z-index: 1;
}
.dropright-content a {
    color: rgb(61, 70, 207); 
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    text-align: left;
}
.dropright-content a:hover {background-color: #f1f1f1;}
.dropright:hover .dropright-content{
    display: block;
}
.right{
    display: block;
}
.total{ margin-left: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    /* grid-template-columns: repeat (auto-fit,minmax(200px,1fr)); */
    /* grid-row: auto; */
    /* grid-row-gap: 20px; */
    /* -ms-grid-row-align: center; */
    padding-left: 40px;
    /* justify-content: space-between; */
    /* flex-direction: row; */
}
.product{
    background-color: white;
    text-align: center ;
    padding-left:0px; padding-right: 40px;
}
.name{
    color: blue; font-size: 25px; font-weight: 700;margin-top: 10px;
}
.digital{
    margin-top: 0px; margin-bottom: 0px;
}
.call{
    margin-top: 2px; margin-bottom: 5px; color: red; font-weight: 700;
}
button{
    margin-bottom: 5px; 
}
